.img-poster-detail{
    width: 350px;
    height: auto;
}

.bg-image{
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-media{
    font-size: 20px;
    margin: 10px 0;
}

.container-media span{
    font-size: 28px;
}

ul.list-genre li{
    padding: 0;
}

ul.list-genre li::after{
    content:"\2022";
}

ul.list-genre li:last-child::after{
    content:"";
}