<div style="background-image: linear-gradient(#333, #333), url(https://image.tmdb.org/t/p/original{{movieDetail.backdrop_path}});" class="bg-image">
    <div class="container">

        <div class="row pt-5 pb-5   ">
            <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w500{{movieDetail.poster_path}}" class="img-poster-detail"/>
            </div>
            <div class="col-md-6 pt-4">
                <h1>
                    {{movieDetail.title}}
                </h1>
                <p>
                    {{ movieDetail.release_date | date: 'dd/MM/yyyy' }}
                    &bull;
                    {{duration}}                
                </p>
                <ul class="list-genre">
                    <li *ngFor="let genre of movieDetail.genres">
                        {{genre.name}}
                    </li>
                </ul>
                <div class="container-media">
                    <span>{{movieDetail.vote_average}}</span> % &bull; {{movieDetail.vote_count}} Votos
                </div>
                <h4 class="mt-5">Sinopse</h4>
                <p>
                    {{movieDetail.overview}}
                </p>                
            </div>
        </div>

        

        

        <div class="clear"></div>
    </div>
</div>