<div class="container">
    <h1>Filmes Populares</h1>

    <div class="row">
        <div class="col-md-3">
            Busca
        </div>
        <div class="col-md-9">
            <div class="row">
                <div id="movies-list" class="col-md-3" *ngFor="let movie of movies" >
                    <a routerLink="{{movie.id}}">
                        <div class="card">
                            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="img-poster card-img-top" alt=""/>
                            <div class="card-body">
                              <h5 class="card-title">{{movie.title}}</h5>
                              <span class="badge badge-pill badge-warning">{{movie.vote_average}} %</span>
                            </div>
                        </div>
                    </a>
                </div>
                <button (click)="onClickMe()">Click me!</button>
    {{clickMessage}}
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
